<!-- templates/sidebar_questions.html -->
<div class="sidebar-header">
  <a href="/" class="sidebar-header-title" tabindex="0">База вопросов</a>
</div>
<div class="sidebar-section">
  <div class="nav-list">
    <a href="/questions" class="nav-item" tabindex="0">Все вопросы</a>
    {% for group in groups %}
    <a href="/questions?group_id={{ group.id }}" class="nav-item" tabindex="0">{{ group.name }}</a>
    {% endfor %}
  </div>
</div>

<div class="sidebar-section">
  {% if is_admin %}
  <h2 class="section-title">Управление</h2>
  <div class="nav-list">
    <a href="/add-question" class="nav-item" tabindex="0">Добавить вопрос</a>
    <a href="/manage-questions" class="nav-item" tabindex="0">Управление вопросами</a>
  </div>
  {% endif %}
</div>

<div class="sidebar-section" style="margin-top: 30px;">
    <h2 class="section-title">Авторизация</h2>
    <div class="nav-list">
      {% if current_user %}
      <a href="/profile" class="nav-item" tabindex="0">Профиль</a>
      <a href="#" class="nav-item" tabindex="0" id="logoutBtn">Выйти</a>
      {% else %}
      <a href="/login" class="nav-item" tabindex="0">Войти</a>
      <a href="/register" class="nav-item" tabindex="0">Регистрация</a>
      {% endif %}
    </div>
  </div>
